<div class="main">
    <div class="sidebar">
        <!-- <h2 id="firstName">Hiram</h2>
                <h2 id="lastName">Neal</h2> -->
        <img id="profilePic" src="assets/images/IMG_0224-min.jpeg" alt="">
        <h3 class="sideTitle">Software Engineer</h3>
        <h3 class="sideTitle">Full Stack Web Developer</h3>
        <div id="downloadDiv">
            <a href="https://s3.amazonaws.com/hns3bucket/Hiram+Neal+Resume+2023.pdf" download><img id="download" src="assets/images/PDF_Downloads.png" alt=""></a>
            <p><a id="downloadA" href="https://s3.amazonaws.com/hns3bucket/Hiram+Neal+Resume+2023.pdf" download>Download</a> </p>
        </div>
        <div class="skills2">
            <!-- <hr>
            <hr> -->
            <h2 id="titleSkills">Skills</h2>
            <!-- <hr>
            <hr> -->
            <div id="innerCircle">
                <div class="icons">
                    <img id="angular" src="assets/images/angularjs-logo.png" alt="">
                    <img id="python" src="assets/images/python.png" alt="">
                    <img id="java" src="assets/images/java-logo.png" alt="">
                    <img id="javascript" src="assets/images/javascript_logo.png" alt="">
                    <img id="nodejs" src="assets/images/nodejs_logo.png" alt="">
                    <img id="django" src="assets/images/django.png" alt="">
                </div>
                <a id="stackshareB" href="https://stackshare.io/hkneal/my-stack"><img id="stackshare" src="assets/images/stackshare_logo_transparent.png" alt=""></a>
                <a id="stackshareA" href="https://stackshare.io/hkneal/my-stack">My stack</a>
            </div>
        </div>
    </div>
    <div class="page">
        <div id="educationAndExperience">
            <div class="experience">
                <!-- <hr> -->
                <!-- <hr> -->
                <h2 id="title">Professional Experience</h2>
                <!-- <hr> -->
                <hr>
                <div>
                    <div class="items">
                        <p><b>EXPERIAN:</b> San Jose, CA (June 2023 - February 2024) -
                            <i>Software Engineer - Python Backend Developer (Python / Flask )</i>
                        </p>
                        <p>Improved the platform to carrier synchronization rates through automation, validation, platform to carrier integrations, and RESTful APIs.
                        </p>
                        <ul>
                            <li>Designed and developed optimization algorithm and it’s respective dependency application for Machine Learning (ML) feature and model registration.
                            </li>
                            <li>Stakeholder collaboration to design, build, and support new and existing software applications.
                            </li>
                            <li>Integrated RESTful APIs into applications with Python Fast-API and built deployment pipelines for applications in Jenkins on Kubernetes & AWS EC2 instances.
                            </li>
                        </ul>
                        <!-- <br> -->

                        <p><b>NOYO TECHNOLOGIES:</b> San Francisco, CA (January 2022 - Current) -
                            <i>Software Engineer - Python Backend Developer (Python / Flask / Retool )</i>
                        </p>
                        <p>Improved the platform to carrier synchronization rates through automation, validation, platform to carrier integrations, and RESTful APIs.
                        </p>
                        <ul>
                            <li>Designed & developed platform application automation and validation.
                            </li>
                            <li>Built RESTful APIs and platform to carrier integrations.
                            </li>
                            <li>Retool application development (Javascript).
                            </li>
                        </ul>
                        <!-- <br> -->
                        <p><b>WARRIOR MADE:</b> Santa Cruz, CA (January 2019 - January 2022) -
                            <i>Software Engineer - Web Developer (Angular / Django )</i>
                        </p>
                        <p>Built engaging customer dashboards and interactive functions to achieve our goal of improving people’s lives. Responsibilities include:
                        </p>
                        <ul>
                            <li>Designed & Coded a video transcoding and delivery algorithm and application that provides customized workout videos per user, per workout level, from a selection of thousands of videos.
                            </li>
                            <li>Designed, developed, and built RESTful API's;
                            </li>
                            <li>Database Schema design, development, and maintenance, input validation/verification;
                            </li>
                            <li>Improved CRM and third party interactions through code development and optimization.
                            </li>
                            <li>Angular / Django integration into seamless single page applications to improve customer interactions / satisfaction.
                            </li>
                        </ul>
                        <p><b>CYBERCODERS:</b> San Jose, CA (October 2018 - January 2019) -
                            <i>Consultant Full Stack Web Developer (Django/Flask)</i>
                        </p>
                        <p>Improved CRM & API integration, database efficiency, and overall web application performance. Migrated Flask web applications into Django. Designed, developed, and improved overall UI/UX via backend optimization. Technologies included: Python/Django Full-stack, Bootstrap, JavaScript, JQuery, RESTful APIs, Amazon AWS, Heroku, Postgres, HTLM5, Konnektive, Avalara
                        </p>
                        <br>
                        <!-- <img id="ibm" src="assets/images/IBM.png" -->
                        <p><b>IBM CORPORATION:</b> San Jose, CA (August 1998 - May 2016) -
                            <i>Software Engineer (Team Lead)</i>
                        </p>
                        <p>Software Engineer - Coded & developed workload scenarios, environments, and drivers to effectively evaluate new and existing code functionality. Exceeded our quality assurance goals as Team Lead and provided key feedback and recommendations
                            to clients and development teams. Responsibilities / Skills included:
                        </p>
                        <ul>
                            <li>Monitoring and development tools: IMS Performance Analyzer (IMSPA); Resource Measurement Facility (RMF); Visual Performance Analyzer (VPA); Eclipse IDE; & Rational Developer for System Z; experience with JMeter & Wireshark.
                            </li>
                            <li>Improving workload scenario test cases & environments: coded workload automation configurations and programs; mainframe/Windows; Java TPNS Script; etc. (Reduced a 1 week testing effort into an 8 hour shift).
                            </li>
                            <li>Developed and Maintained evaluation scenarios, environments, and drivers: Evaluated new IMS functionality within an IMS Performance evaluation scope. Operated as the team IMS zOS Systems Admin.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of experience -->
            <div class="education">
                <!-- <hr>
                <hr> -->
                <h2 id="title">Education</h2>
                <!-- <hr> -->
                <hr>
                <div>
                    <div class="items">
                        <p><b>UNIVERSITY CALIFORNIA IRVINE DCE, -</b>  Java Programming Certification Program
                        </p>
                        <p>
                            <i>Student, Courses include: Java Programming, Object-Oriented Analysis and Design, Data Structures and Algorithms, Cloud Computing Platform as a Service (Paas), Spring Framework, and Angular.
                            </i>
                        </p>
                        <br>
                        <!-- <img id="codingDojo" src="assets/images/coding_dojo_logo_black.png" alt="">  -->
                        <p><b>CODING DOJO -</b> San Jose, CA (April 2017 - September 2017) Coding Bootcamp
                        </p>
                        <p>
                            <i>Full Stack Development (HTML/CSS, Javascript, JQuery, REST-ful API, Python, MongoDB, Angular, Express, Node.js)
                            </i>
                        </p>
                        <br>
                        <!-- <img id="grambling" src="assets/images/grambling.png" alt="">  -->
                        <p><b>GRAMBLING STATE UNIVERSITY – </b> Bachelor of Science in Computer Science, Grambling, LA.</p>
                        <p><i>Honors:</i> Earl Lester Cole Honors College
                        </p>
                        <br>
                        <p><b>IBM –</b> Leadership Excellence Program, Silicon Valley Laboratory, San Jose, CA.
                        </p>

                    </div>
                </div>
            </div>
            <div class="recognitions">
                <!-- <hr>
                <hr> -->
                <h2 id="title">Recognitions</h2>
                <!-- <hr> -->
                <hr>
                <div class="items">
                    <p>IBM Silicon Valley Laboratory Team Leadership Award, Silicon Valley Laboratory, San Jose, CA.
                    </p>
                    <br>
                    <p>Modern Day Leader in Technology Recognition, US Black Engineer & Information Technology Magazine
                    </p>
                    <br>
                    <p>Java Programming Certification, University California, Irvine, Division of Continuing Education
                    </p>
                </div>
            </div>
        </div>
        <div class="skills">
            <!-- <hr>
            <hr> -->
            <h2 id="titleSkills">Skills</h2>
            <!-- <hr>
            <hr> -->
            <div id="innerCircle">
                <div class="icons">
                    <img id="angular" src="assets/images/angularjs-logo.png" alt="">
                    <img id="python" src="assets/images/python.png" alt="">
                    <img id="java" src="assets/images/java-logo.png" alt="">
                    <img id="javascript" src="assets/images/javascript_logo.png" alt="">
                    <img id="nodejs" src="assets/images/nodejs_logo.png" alt="">
                    <img id="django" src="assets/images/django.png" alt="">
                </div>
                <a id="stackshareB" href="https://stackshare.io/hkneal/my-stack"><img id="stackshare" src="assets/images/stackshare_logo_transparent.png" alt=""></a>
                <a id="stackshareA" href="https://stackshare.io/hkneal/my-stack">view my stack</a>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
